#canvas {
  width: 300px;
}

.widget_card {
  width: 100%;
  background: white !important; //Edit Background Color
  color: black !important; //Edit Text Color
}

/*This class define the map preview container of the widget*/
.widget_map_preview {
  height: 158px;
  border-bottom: 3px solid #EC161E; //Edit Divider Line Color
}

/*This class define the price container of the widget*/
.widget_price_label_container {
  height: 35px;
  width: 100%;
  background: #f2f2f2; // Edit Price Container Background Color
  padding: 4px;
  text-align: center;
  margin-bottom: 10px;
}

/*This class define the price text of the widget*/
.widget_price {
  font-size: 18px;
  font-weight: 900;
  color: #858585; //Edit Price Text Color
}
