.shpy__widget {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.shpy__form {
  margin: 8px 0 25px 0;
}

.shpy__form:first-child {
  margin-top: 0;
}

.shpy__form:last-child {
  margin-bottom: 0;
}

.shpy__form__field {
  display: flex;
  margin: 8px 0 8px 0;
}

.shpy__form__icon {
  background-color: #777;
  flex: 0 0 50px;
  mask-repeat: no-repeat;
  mask-position: center;
}

.shpy__form__address-icon {
  mask-image: url(https://cdn.shippify.co/widget/place.svg);
}

.shpy__form__name-icon {
  mask-image: url(https://cdn.shippify.co/widget/person.svg);
}

.shpy__form__email-icon {
  mask-image: url(https://cdn.shippify.co/widget/person.svg);
}

.shpy__form__phone-icon {
  mask-image: url(https://cdn.shippify.co/widget/call.svg);
}

.shpy__form__instructions-icon {
  mask-image: url(https://cdn.shippify.co/widget/info-outline.svg);
}

.shpy__form__input {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  box-sizing: border-box;
  flex: 1 1 auto;
  height: 20px;
  outline: 0;
  padding: 12px 20px;
}

.shpy__vehicle-bar {
align-items: center;
  display: flex;
  justify-content: space-between;
}

.shpy__vehicle-bar__option {
  background-color: #777;
  border: 2px solid #e7e7e7;
  color: black;
  cursor: pointer;
  flex: 1 1 auto;
  height: 30px;
  mask-repeat: no-repeat;
  mask-position: center;
  outline: 0;
}

.shpy__vehicle-bar__option:hover {
  background-color: #555;
}

.shpy__vehicle-bar__option--selected {
  background-color: #ef404b;
}

.shpy__vehicle-bar__option--selected:hover {
  background-color: #ef404b;
}

.shpy__vehicle-bar__bike-option {
  mask-image: url(https://cdn.shippify.co/widget/icon_v_bike.svg);
}

.shpy__vehicle-bar__moto-option {
  mask-image: url(https://cdn.shippify.co/widget/icon_v_moto.svg);
}

.shpy__vehicle-bar__car-option {
  mask-image: url(https://cdn.shippify.co/widget/icon_v_car.svg);
}

.shpy__vehicle-bar__van-option {
  mask-image: url(https://cdn.shippify.co/widget/icon_v_van.svg);
}

.shpy__vehicle-bar__truck-option {
  mask-image: url(https://cdn.shippify.co/widget/icon_v_truck.svg);
}
.shpy__footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.shpy__price{
  font-size: 35px;
  font-family: Roboto;
  width: auto;
  margin-right: 20px;
  color: #ef404b;

}
.shpy__order-button {
  background-color: #ef404b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  height: 40px;
  margin: 8px 0 8px 0;
  outline: 0;
  width: 170px;
  font-size: 20px;
}

.shpy__order-button--disabled {
  background-color: #c7c7c7;
  color: #333;
  cursor: auto;
}

/*////////////////////////////////////////////*/

/* Tooltips helpers */

.shpy__message_tooltip {
    float: left;
    top: 2px;
    left: 7px;
    position: relative;
    z-index: 2;
}

.shpy__message_tooltip--hidden {
  display: none;
}

.shpy__message_tooltip:hover {
    z-index: 3;
}

.shpy__message_tooltip>span {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    background-color: red;
    position: relative;
    border-radius: 10px;
}

.shpy__message_tooltip .shpy__message_error {
    opacity: 0;
    width: 100px;
    background-color: #333;
    color: #FFF;
    font-size: 0.9em;
    position: absolute;
    top: 0;
    left: 20px;
    padding: 8px;
    border-radius: 6px;
    pointer-events: none;
    transition: 0.2s cubic-bezier(0.1, 0.1, 0.25, 2);
    -webkit-transition: 0.3s cubic-bezier(0.1, 0.2, 0.5, 2.2);
    -moz-transition: 0.3s cubic-bezier(0.1, 0.2, 0.5, 2.2);
}

.shpy__message_tooltip p {
  margin: 2px;
}

.shpy__message_tooltip.down .shpy__message_error {
    left: auto;
    right: 0;
    top: 30px;
}

.shpy__message_tooltip:hover .shpy__message_error {
    opacity: 1;
    left: 36px;
}

.shpy__message_tooltip .shpy__message_error b {
    height: 0;
    width: 0;
    border-color: #333 #333 transparent transparent;
    border-style: solid;
    border-width: 9px 7px;
    position: absolute;
    left: -10px;
    top: 8px;
}

.shpy__message_tooltip.down .shpy__message_error b {
    left: auto;
    right: 6px;
    top: -10px;
    border-width: 5px;
    border-color: transparent #333 #333 transparent;
}
