<div >
  <div style="height: 200px;" id="shpy-map-container"></div>

  <div class="CCYTE__container">
    <div class="CCYTE_container_icon">
      <img src="images/place.svg">
    </div>
    <input class="CCYTE_input_form" id="shpy-delivery-address-input" type="text" placeholder="Insert address"/>
  </div>

  <div class="CCYTE__container">
    <div class="CCYTE_container_icon">
      <img src="images/person.svg">
    </div>
    <input class="CCYTE_input_form" id="shpy-delivery-contact-name-input" type="text" placeholder="Insert contact name"/>
  </div>

  <div class="CCYTE__container">
    <div class="CCYTE_container_icon">
      <img src="images/person.svg">
    </div>
    <input class="CCYTE_input_form" id="shpy-delivery-contact-email-input" type="text" placeholder="Insert contact email"/>
  </div>

  <div class="CCYTE__container">
    <div class="CCYTE_container_icon">
      <img src="images/call.svg">
    </div>
    <input class="CCYTE_input_form" id="shpy-delivery-contact-phone-input" type="text" placeholder="Insert contact phone"/>
  </div>

  <div class="CCYTE__container">
    <div class="CCYTE_container_icon">
      <img src="images/info-outline.svg">
    </div>
    <input class="CCYTE_input_form" id="shpy-delivery-special_instructions-input" type="text" placeholder="Insert special instructions"/>
  </div>

  <div class="CCYTE__container">
    <div class="CCYTE_container_icon">
      <span> size </span>
    </div>
    <div class="CCYTE__button_vehicle_group">
      <button class="CCYTE__button_vehicle" ><img src="./images/icon_v_bike.svg"/></button>
      <button class="CCYTE__button_vehicle" ><img src = {car}/></button>
      <button class="CCYTE__button_vehicle" ><img src = {moto}/></button>
      <button class="CCYTE__button_vehicle" ><img src = {van}/></button>
      <button class="CCYTE__button_vehicle" ><img src = {truck}/></button>
    </div>
  </div>

  <button id="shpy-order-button" class="CCYTE__button_submit">Order</button>
</div>
