<div class="shpy__widget">
  <div style="height: 150px;" id="shpy-map-container"></div>

  <div class="shpy__form">
    <div class="shpy__form__field">
      <div class="shpy__form__icon shpy__form__address-icon"></div>
      <input id="shpy-delivery-address-input" class="shpy__form__input" type="text" placeholder="Insert delivery address"/>
    </div>

    <div class="shpy__form__field">
      <div class="shpy__form__icon shpy__form__name-icon"></div>
      <input id="shpy-delivery-contact-name-input" class="shpy__form__input" type="text" placeholder="Insert contact name"/>
    </div>
    <% if (excludedFields.indexOf('email') === -1) { %>
    <div class="shpy__form__field">
      <div class="shpy__form__icon shpy__form__email-icon"></div>
      <input id="shpy-delivery-contact-email-input" class="shpy__form__input" type="text" placeholder="Insert contact email"/>
    </div>
    <% } %>
    <div class="shpy__form__field">
      <div class="shpy__form__icon shpy__form__phone-icon"></div>
      <input id="shpy-delivery-contact-phone-input" class="shpy__form__input" type="text" placeholder="Insert contact phone"/>
    </div>

    <div class="shpy__form__field">
      <div class="shpy__form__icon shpy__form__instructions-icon"></div>
      <input id="shpy-delivery-special_instructions-input" class="shpy__form__input" type="text" placeholder="Insert special instructions"/>
    </div>
  </div>

  <div class="shpy__vehicle-bar">
    <button id="shpy-bike-button" class="shpy__vehicle-bar__option shpy__vehicle-bar__bike-option" data-vehicle-type="bike"></button>
    <button id="shpy-moto-button" class="shpy__vehicle-bar__option shpy__vehicle-bar__moto-option" data-vehicle-type="moto"></button>
    <button id="shpy-car-button" class="shpy__vehicle-bar__option shpy__vehicle-bar__car-option" data-vehicle-type="car"></button>
    <button id="shpy-van-button" class="shpy__vehicle-bar__option shpy__vehicle-bar__van-option" data-vehicle-type="van"></button>
    <button id="shpy-truck-button" class="shpy__vehicle-bar__option shpy__vehicle-bar__truck-option" data-vehicle-type="truck"></button>
  </div>

  <button id="shpy-order-button" class="shpy__order-button">Order</button>
</div>
